body {
	background-color: black;
	color: white;
}

#midi-connected {
	visibility: hidden;
	padding: 10px 0px;

	img {
		width: 32px;
	}
}

#total-questions {
	color: rgba(255, 255, 255, .25);
	padding: 40px 0px;
}

.dropdown {
	margin: 10px 0px;
}
.btn-group {
	margin: 10px 0px;
}